

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    /* background-color: #efefef; */
    overflow-x: hidden;
}

#navbar{
    color: #fff;
    position:fixed;
    width: 100%;
    height: 80px;
    background:  rgba(9,0,77,0.3);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.nav-items{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-items h1{
    font-size: 35px;
}

.nav-items h1 span{
    color: rgb(180, 43, 43);
}

.nav-items nav{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-items nav ul{
    /* background: yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: 17px;
    padding: 10px;
}

nav ul li a{
    color: #fff;
    font-weight: 600;
}

.nav-items i{
    color: #fff;
    display: none;
    cursor: pointer;
    font-size: 45px;
}

/* nav ul i{
    display: none;
} */

@media (max-width: 768px){
    .nav-items nav ul{
        background: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65));
        position: absolute;
        z-index: 10;
        /* left: 0; */
        padding: 30px;
        right: 0;
        top: 0;
        height: 300px;
        width: 300px;
        visibility: visible;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: space-around;
        transition: right 0.5s;
    }

    .nav-items{
        padding: 15px 20px;
    }

    .nav-items nav.hide{
        visibility: hidden;
        display: none;
    }

    nav ul .close{
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        background: rgba(252, 2, 2, 0.322);
        padding: 5px;
        font-size: 30px;
        border-radius: 50%;
    }

    .nav-items .open{
        display: block;
    }
}

/* header section styles */

#header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(./assets/images/1000_F_480143221_NwhIRSX9yj2FZX0F2gCdes15XllISh5n.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

.header-content {
    color: white; /* Example content styling */
    text-align: center;
    padding-top: 40vh;
    width: 100%;
    height: 100%;
}

.header-content h1{
    font-size: 80px;
}


@media (max-width: 768px){

    .header-content{
        padding-top: 50vh;
    }

    .header-content h1{
        font-size: 60px;
    }
}




/* presentation section style */

#presentation{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

#presentation .title{
    font-size: 40px;
    padding: 50px 0;
}

.intro-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    gap: 50px;
}

.intro-items .item-1{
    flex-basis: 30%;
}

.intro-items .item-1 img{
    width:100%;
}

.intro-items .item-2{
    flex-basis: 60%;
}

.intro-items .item-2 h2{
    margin-bottom: 50px;
}

/* presentation section styling */

@media (max-width: 768px){
    .intro-items{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .intro-items .item-1{
        flex-basis: 90%;
    }

    .intro-items .item-1 img{
        width: 100%;
    }
    
    .intro-items .item-2{
        flex-basis: 90%;
    }

    #presentation .title{
        font-size: 35px;
    }
}

/* section skills */

#skills{
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.subtitle::after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    right: 50%;
    border: 2px solid rgb(160, 42, 42);
    width: 100px;
}

.subtitle h2{
    font-size: 45px;
    font-weight: 600;
}

#skills .skills-set{
    display: grid;
    grid-template-rows:  350px 350px;
    grid-template-columns: 350px 350px 350px ;
    gap: 50px;
}

.skill-card h2{
    margin-top: 14px;
    margin-bottom: 14px;
}


.card-img img{
    width: 100%;
    object-fit: contain;
}

/* skill media query  */

/* project media query */
@media (max-width: 768px) {
    #skills .skills-set{
        display: grid;
        grid-template-columns: 1fr; /* One column taking up the full width */
        grid-template-rows: auto;   /* Row height will adjust based on content */
        gap: 20px; /* Optional: Add some space between items */
    }

    .skill-card{
        grid-area: auto; /* Let them naturally stack */
    }
}



/* project section */

#projects{
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-cards{
    max-width: 1200px;
    display: grid;
    grid-template-rows: 300px 300px ;
    grid-template-columns: 350px 350px 350px;
    column-gap: 50px;
    row-gap: 50px;
}


.project-card1{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.project-card2{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project-card3{
    grid-area: 1/2/3/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card4{
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card5{
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-img{
    width: 100%;
    height: 50%;
}

.project-img img{
    width: 100%;
}

.project-description{
    background: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65));
    padding: 17px 12px;
    color: #fff;
}

/* project media query */
@media (max-width: 768px) {
    .project-cards {
        display: grid;
        grid-template-columns: 1fr; /* One column taking up the full width */
        grid-template-rows: auto;   /* Row height will adjust based on content */
        gap: 20px; /* Optional: Add some space between items */
    }

    .project-card1, .project-card2, .project-card3, .project-card4, .project-card5 {
        grid-area: auto; /* Let them naturally stack */
    }
}


/* testimonial section style */

#testimony{
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-slider{
    max-width: 1120px;
    width: 100%;
    /* background: grey; */
    background-color: #efefef;
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.testimony-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.testimony-text h2{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.testimony-text p{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.testimony-image{
    /* position: relative; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}


.testimony-item{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 15px;
    border-radius: 25px;
    background: #fff;
}





.testimony-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}


@media (max-width: 768px) {
    .testimony-slider{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* contact form styling */

#contact{
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-container .contact-info, .contact-form{
    flex-basis: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #efefef;
}

.contact-container .contact-info h2{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px;
}

.contact-container .contact-info ul{
    text-align: center;
    padding-bottom: 24px;
}


.link{
    display: flex;
    justify-content: center;
}

.link ul{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 25px;
}

.link ul li{
    background: #fff;
    color: #000;
    padding: 19px ;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
}

.link ul li:hover{
    transform: translateY(-10px);
}

.contact-form input{
    background: #fff;
    height: 35px;
    border: none;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 24px;
}

.contact-form textarea{
    border-radius: 24px;
    background: #fff;
    height: 100px;
    border: none;
    margin-bottom: 45px;
    padding: 12px;
}

.contact-form .btn{
    border: none;
    border-radius: 25px;
    background: #fff;
    padding: 12px 0;
    cursor: pointer;
    transition: background 0.5s;
}

.contact-form .btn:hover{
    background: #cccccc;
}

@media (max-width: 768px){


    .contact-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-container .contact-info, .contact-form{
        flex-basis: 100%;
    }


}





